
/* reset */

body{
    margin: 0;
    padding: 0;
    background-color: rgb(167, 167, 167); 
    font-family: 'Poppins', sans-serif;
}

/* nav bar */

.nav-bar{
    background-color: rgb(167, 167, 167);
    width: 100%;
    height: 7em;
    box-shadow: 0px 2px 10px rgb(56, 56, 56);
    z-index: 10;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    position: relative;
}

.content img{
    position: absolute;
    height: 80%;
    transform: translate(-325%, 0%);
}

.content-boutons{
    display: flex;
}

.bouton{
    padding: 0px 1.5em;
    background-color: rgb(167, 167, 167);
    margin: 0% 20%;
    border-radius: 50px;
    box-shadow: 8px 8px 29px #7a7a7a, -8px -8px 29px #d4d4d4;
    pointer-events: visible;
}

a.nav-lien{
    text-decoration: none;
    color: white;
}

/*animation nav bar*/

.bouton.page1:hover {
    box-shadow: inset 8px 8px 21px #848484, 
            inset -8px -8px 21px #cacaca;
}

.bouton.page2:hover {
    box-shadow: inset 8px 8px 21px #848484, 
            inset -8px -8px 21px #cacaca;
}


.bouton.page3:hover {
    box-shadow: inset 8px 8px 21px #848484, 
            inset -8px -8px 21px #cacaca;
}

/* section 1 */

.section1{
    height: 700px;
    width: 100%;
    display: flex;
}

.section1 .content-img-film{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
}

.section1 .content-img-film img{
    max-height: 90vh;
    width: auto;
    transition: 0.8s ease-out;
}

.section1 .content-img-film img:hover{
    transform: scale(1.05);
}

.section1 .content-text{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .content-text .text{
    height: 80vh;
    width: 65%;
    border: 5px solid;
    border-image: linear-gradient(to right, #f79d00, #64f38c);
    border-image-slice: 1;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 40px 40px;
    color: #523c34;
}

/* section 2 */

.section2{
    height: 70vh;
    width: 100%;
    background-color: #cacaca;
    clip-path: polygon(50% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
    transition: 0.5s ease-out;
    display: flex;
    padding-top: 20vh;
    box-shadow: inset 0px -2px 5px 0px #5a5a5a;
}

.section2:hover{
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
}

/* partie text */

.section2 .content-text{
    height: 100%;
    width: 40%;
}

.section2 .content-text{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 .content-text .text{
    height: 64vh;
    width: 65%;
    border: 5px solid;
    border-image: linear-gradient(to right, #ffdb9d, #7784a0);
    border-image-slice: 1;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    padding: 10px 40px;
    padding-bottom: 55px;
    color: #523c34;
    transform: translate(20px, -10%);
}

/* partie image */

.section2 .content-img-film{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-20px, -10%);
}

.section2 .content-img-film img{
    height: auto;
    max-width: 90%;
    transition: 0.8s ease-out;
}

.section2 .content-img-film img:hover{
    transform: scale(1.05);
}

/* section 3 */

.section3{
    height: 80vh;
    width: 100%;
    display: flex;
}

/* partie image */

.section3 .content-img-film{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
}

.section3 .content-img-film img{
    max-height: 70vh;
    width: auto;
    transition: 0.8s ease-out;
}

.section3 .content-img-film img:hover{
    transform: scale(1.05);
}

/* partie text */

.section3 .content-text{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .content-text .text{
    height: 63vh;
    width: 65%;
    border: 5px solid;
    border-image: linear-gradient(to right, #2663a2, #4d565e);
    border-image-slice: 1;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    padding: 40px 40px;
    color: #523c34;
    transform: translate(-20px, 0.5%);
}

/* responsive */

@media screen and (max-width: 1455px){
    .section1 .content-text .text {
        font-size: 18px;
    }
}

@media screen and (max-width: 1430px){
    .content img {
        transform: translate(-300%, 0%);
    }
    
    .section1 .content-text .text {
        font-size: 18.5px;
    }
}

@media screen and (max-width: 1330px){
    .content img {
        transform: translate(-260%, 0%);
    }

    .bouton {
        margin: 0% 15%;
    }

    .section1 .content-text .text {
        font-size: 17.5px;
    }
}


@media screen and (max-width: 1170px){
    .content img {
        transform: translate(-225%, 0%);
    }

    .bouton {
        margin: 0% 10%;
    }
}

@media screen and (max-width: 1030px){
    .content img {
        transform: translate(-200%, 0%);
    }

    .bouton {
        margin: 0% 8%;
    }

    .bouton:nth-child(1) {
        margin-left: 20%;
    }
}