body{
    margin: 0;
    padding: 0;
    background-color: #7a7a7a;;
}

.section1 .nav-bar {
    height: 100px;
    width: 100%;
    background-color: #555555;
    display: flex;
    align-items: center;
}

.section1 .nav-bar .txt{
    color: #d4d4d4;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
}

.section1 .nav-bar .web-site1{
    color: #d4d4d4;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    border: 3px solid #d4d4d4;
    padding: 10px 10px;
    margin-left: 30px;
}

.section1 .nav-bar .web-site1:hover{
    border: 3px solid black
}

.section1 .nav-bar .web-site1 a{
    color: #d4d4d4;
}

.ciné_st-michel{
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ciné_st-michel .content {
    height: 100%;
    width: auto;

}

.ciné_st-michel .content .txt{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #d4d4d4;
}

.ciné_st-michel .content .img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.ciné_st-michel .content .img img{
   height: 500px;
   width: auto;
   border-radius: 20px;
}

.ciné_st-michel .content .content-link{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.ciné_st-michel .content .content-link .link {
    background-color: #d4d4d4;
    border-radius: 50px;
    padding: 15px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 15px;
    width: 50px;
}

.ciné_st-michel .content .link a{
    text-decoration: none;
    color:  #7a7a7a;
    font-size: 20px;
}

.footer{
    height: 250px;
    width: 100%;
    background-color: #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 20px 0px black;
}

.footer a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.footer img{
    height: 100px;
    width: auto;
    margin-left: 20px;
}

.footer .content{
    border: 5px solid #d4d4d4;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}