
/* reset */

body{
    margin: 0;
    padding: 0;
    background-color: rgb(167, 167, 167); 
    font-family: 'Poppins', sans-serif;
}

/* nav bar */

.nav-bar{
    background-color: rgb(167, 167, 167);
    width: 100%;
    height: 7em;
    box-shadow: 0px 2px 10px rgb(56, 56, 56);
    z-index: 10;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    position: relative;
}

.content img{
    position: absolute;
    height: 80%;
    transform: translate(-325%, 0%);
}

.content-boutons{
    display: flex;
}

.bouton{
    padding: 0px 1.5em;
    background-color: rgb(167, 167, 167);
    margin: 0% 20%;
    border-radius: 50px;
    box-shadow: 8px 8px 29px #7a7a7a, -8px -8px 29px #d4d4d4;
    pointer-events: visible;
}

a.nav-lien{
    text-decoration: none;
    color: white;
}

/*animation nav bar*/

.bouton.page1:hover {
    box-shadow: inset 8px 8px 21px #848484, 
            inset -8px -8px 21px #cacaca;
}

.bouton.page2:hover {
    box-shadow: inset 8px 8px 21px #848484, 
            inset -8px -8px 21px #cacaca;
}


.bouton.page3:hover {
    box-shadow: inset 8px 8px 21px #848484, 
            inset -8px -8px 21px #cacaca;
}

/* section 1 */

.section1{
    height: 950px;
    width: 100%;
    display: flex;
}

.section1 .content-img-film{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
}

.section1 .content-img-film img{
    max-height: 800px;
    width: auto;
    transition: 0.8s ease-out;
}

.section1 .content-img-film img:hover{
    transform: scale(1.05);
}

.section1 .content-text{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .content-text .text{
    height: 725px;
    width: 65%;
    border: 5px solid;
    border-image: linear-gradient(to right, #f79d00, #64f38c);
    border-image-slice: 1;
    text-align: center;
    font-weight: bolder;
    font-size: 23px;
    padding: 40px 40px;
    color: #523c34;
}

/* section 2 */

.section2{
    height: 725px;
    width: 100%;
    background-color: #cacaca;
    clip-path: polygon(50% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
    transition: 0.5s ease-out;
    display: flex;
    padding-top: 180px;
    box-shadow: inset 0px -2px 5px 0px #5a5a5a;
}

.section2:hover{
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
}

/* partie text */

.section2 .content-text{
    height: 100%;
    width: 40%;
}

.section2 .content-text{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 .content-text .text{
    height: 600px;
    width: 65%;
    border: 5px solid;
    border-image: linear-gradient(to right, #ffdb9d, #7784a0);
    border-image-slice: 1;
    text-align: center;
    font-weight: bolder;
    font-size: 18.5px;
    padding: 10px 40px;
    padding-bottom: 55px;
    color: #523c34;
    transform: translate(20px, -10%);
}

/* partie image */

.section2 .content-img-film{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-20px, -10%);
}

.section2 .content-img-film img{
    height: auto;
    max-width: 90%;
    transition: 0.8s ease-out;
}

.section2 .content-img-film img:hover{
    transform: scale(1.05);
}

/* section 3 */

.section3{
    height: 800px;
    width: 100%;
    display: flex;
}

/* partie image */

.section3 .content-img-film{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
}

.section3 .content-img-film img{
    max-height: 650px;
    width: auto;
    transition: 0.8s ease-out;
}

.section3 .content-img-film img:hover{
    transform: scale(1.05);
}

/* partie text */

.section3 .content-text{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .content-text .text{
    height: 585px;
    width: 65%;
    border: 5px solid;
    border-image: linear-gradient(to right, #2663a2, #4d565e);
    border-image-slice: 1;
    text-align: center;
    font-weight: bolder;
    font-size: 27px;
    padding: 40px 40px;
    color: #523c34;
    transform: translate(-20px, 0.5%);
}

.foot-general{
    background-color: #555555;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-general a{
    text-decoration: none;
    color: #dfdfdf;
    font-size: 35px;
    border: 3px solid #dfdfdf;
    padding: 10px 10px;
}

.foot-general a:hover{
    border: 3px solid black
}

/* responsive */

@media screen and (max-width: 1455px){
    .section1 .content-text .text {
        font-size: 18px;
    }
}

@media screen and (max-width: 1430px){
    .content img {
        transform: translate(-300%, 0%);
    }
    
    .section1 .content-text .text {
        font-size: 21px;
    }
}

@media screen and (max-width: 1330px){
    .content img {
        transform: translate(-260%, 0%);
    }

    .bouton {
        margin: 0% 15%;
    }

    .section1 .content-text .text {
        font-size: 17.5px;
    }

    .section1 .content-img-film img:hover {
        transform: scale(0.85);
    }

    .section1 .content-img-film img {
        transform: scale(0.9);
    }

    .section1 .content-text .text {
        height: 600px;
        font-size: 19px;
        padding: 15px 40px 40px 40px;
    }

    .section2 .content-text .text {
        font-size: 17.8px;
    }

    .section3 .content-text .text {
        height: 600px;
        padding: 0px 40px 40px 40px;
        color: #523c34;
        font-size: 26px;
    }
}

@media screen and (max-width: 1205px){
    .section1 .content-text .text {
        font-size: 18.5px; 
    }
}


@media screen and (max-width: 1170px){
    .content img {
        transform: translate(-225%, 0%);
    }

    .bouton {
        margin: 0% 10%;
    }

    .section1 .content-img-film img:hover {
        transform: scale(0.7);
    }

    .section1 .content-img-film img {
        transform: scale(0.75);
    }

    .section1 .content-text .text {
        font-size: 17.8px;
    }

    .section3 .content-text .text {
        font-size: 25px;
    }
}

@media screen and (max-width: 1090px){
    .section1 .content-text .text {
        font-size: 17.2px;
    }

    .section2 .content-text .text {
        font-size: 17px;
    }

    .section3 .content-text .text {
        font-size: 24px;
    }

    .section3 .content-img-film img {
        max-height: 580px;
    }
}

@media screen and (max-width: 1030px){
    .content img {
        transform: translate(-200%, 0%);
    }

    .bouton {
        margin: 0% 8%;
    }

    .bouton:nth-child(1) {
        margin-left: 20%;
    }

    .section1 .content-text .text {
        font-size: 16.5px;
    }

    .section2 .content-text .text {
        font-size: 16.5px;
    }
}

@media screen and (max-width: 960px){
    .content img {
        transform: translate(-170%, 0%);
    }

    .bouton {
        margin: 0% 5%;
    }

    .section1 .content-img-film img:hover {
        transform: scale(0.55);
    }

    .section1 .content-img-film img {
        transform: scale(0.6);
    }

    .section1 .content-text .text {
        font-size: 16.3px;
    }

    .section2 .content-text .text {
        font-size: 15.8px;
    }

    .section2 .content-img-film img {
        max-width: 80%;
    }

    .section3 .content-text .text {
        font-size: 23.4px;
    }
}

@media screen and (max-width: 915px){
    .section2 .content-text .text {
        font-size: 15.3px;
    }

    .section3 .content-text .text {
        font-size: 22px;
    }

    .section3 .content-img-film img {
        max-height: 500px;
    }
}

@media screen and (max-width: 855px){
    .section1 .content-text .text {
        font-size: 15.4px;
    }

    .section2 .content-text .text {
        font-size: 15px;
    }
}

@media screen and (max-width: 830px){
    .content img {
        transform: translate(-150%, 0%);
    }

    .bouton:nth-child(1) {
        margin-left: 12%;
    }

    .section1 .content-img-film img:hover {
        transform: scale(0.45);
    }

    .section1 .content-img-film img {
        transform: scale(0.5);
    }

    .section1 .content-text .text {
        height: 80%;
        width: 50%;
    }

    .section1 .content-text {
        height: 60%;
        width: 100%;
    }

    .section1 {
        height: 1125px;
        flex-direction: column-reverse;
    }

    .section1 .content-img-film {
        height: 40%;
        width: 100%;
    }

    .section1 .content-text .text {
        font-size: 17px;
    }

    .section2 .content-text .text {
        font-size: 14.5px;
    }

    .section2 {
        height: 1000px;
        flex-direction: column-reverse;
        padding-top: 100px;
    }

    .section2 .content-text {
        height: 60%;
        width: 100%;
    }

    .section2 .content-text .text {
        height: 400px;
        padding: 25px 40px;
        padding-bottom: 0px;
        transform: translate(0px, 0%);
        font-size: 14.5px;
    }

    .section2 .content-img-film {
        height: 40%;
        width: 100%;
        transform: translate(0px, 0%);
    }

    .section3 {
        height: 1200px;
        flex-direction: column;
    }

    .section3 .content-img-film {
        height: 50%;
        width: 100%;
    }

    .section3 .content-text {
        height: 50%;
        width: 100%;
    }

    .section3 .content-text .text {
        height: 450px;
        transform: translate( 0px, 0%); 
    }

    .section3 .content-img-film img {
        max-height: 550px;
    }

    .section3 .content-text .text {
        font-size: 23.3px;
    }
}

@media screen and (max-width: 770px){
    .section1 .content-text .text {
        font-size: 16.5px;
    }
    
    .section2 .content-text .text {
        font-size: 14px;
    }

    .section2 {
        height: 850px;
    }
}

@media screen and (max-width: 750px){
    .content img {
        height: 65%;
    }
    
    .bouton:nth-child(1) {
        margin-left: 20%;
    }

    .bouton {
        padding: 0px 1em;
        font-size: 13px;
    }
    
    .section1 .content-text .text {
        font-size: 16px;
    }

    .section2 .content-text .text {
        font-size: 13.5px;
    }

    .section3 .content-text .text {
        font-size: 22px;
    }
}

@media screen and (max-width: 700px){
    .section1 .content-text .text {
        font-size: 15.5px;
    }

    .section2 .content-text .text {
        font-size: 13px;
    }

    .section3 .content-text .text {
        font-size: 21px;
    }
}

@media screen and (max-width: 645px){
    .section1 .content-text .text {
        font-size: 14.6px;
    }
}


@media screen and (max-width: 610px){
    .nav-bar {
        height: 5em;
    }

    .content img {
        transform: translate(-200%, 0%);
    }
}

@media screen and (max-width: 600px){
    .bouton {
        font-size: 10px;
    }

    .content img {
        transform: translate(-150%, 0%);
    }

    .section1 .content-text .text {
        font-size: 14.1px;
    }

    .section2 .content-text .text {
        font-size: 12.5px;
    }

    .section3 .content-text .text {
        font-size: 19.87px;
    }
}

@media screen and (max-width: 530px){
    .section1 .content-text .text {
        font-size: 13.5px;
    }

    .section2 .content-text .text {
        font-size: 11.9px;
    }

    .section3 .content-text .text {
        font-size: 18.4px;
    }

    .section3 .content-img-film img {
        max-height: 450px;
    }

    .section3 .content-img-film {
        height: 40%;
        padding-top: 5vh;
    }

    .section3 {
        height: 1100px;
    }

    .foot-general a {
        font-size: 30px;
    }
}


@media screen and (max-width: 450px){
    .bouton {
        font-size: 8px;
    }

    .content img {
        transform: translate(-150%, 0%);
        height: 60%;
    }

    .nav-bar {
        height: 4em;
    }

    .section1 .content-text .text {
        font-size: 13px;
        padding: 15px 20px 20px 20px;
        width: 60%;
    }

    .section2 .content-text .text {
        font-size: 10.5px;
    }

    .section2 {
        height: 800px;
        padding-top: 60px;
    }

    .section2 .content-img-film {
        height: 35%;
    }

    .section2 .content-text {
        height: 65%;
    }

    .section3 .content-text .text {
        font-size: 17.1px;
    }

    .foot-general a {
        font-size: 25px;
    }
}

@media screen and (max-width: 370px){
    .bouton {
        font-size: 7px;
    }

    .content img {
        transform: translate(-130%, 0%);
    }

    .section1 .content-text .text {
        font-size: 12.4px;
    }

    .section3 .content-text .text {
        padding: 0px 20px 40px 20px;
        font-size: 15.5px;
    }

    .section3 .content-img-film img {
        max-height: 350px;
    }

    .section3 .content-img-film {
        height: 33%;
    }

    .section3 .content-text {
        padding-top: 8vh;
    }

    .section3 {
        height: 950px;
    }

    .foot-general a {
        font-size: 20px;
    }
}

@media screen and (max-width: 315px){
    .bouton {
        font-size: 6px;
    }

    .content img {
        transform: translate(-155%, 0%);
    }

    .nav-bar {
        height: 3em;
    }

    .section1 .content-text .text {
        font-size: 11.7px;
        padding: 0px 20px 20px 20px;
        width: 60%;
    }

    .section1 {
        height: 1000px;
    }

    .section1 .content-text {
        height: 65%;
    }

    .section1 .content-img-film {
        height: 35%;
    }

    .section1 .content-img-film img {
        transform: scale(0.38);
    }

    .section2 .content-text .text {
        font-size: 10.5px;
    }

    .section3 .content-text .text {
        font-size: 14.7px;
        padding: 0px 25px;
    }
}

@media screen and (max-width: 300px){
    .section1 .content-text .text {
        font-size: 11px;
    }

    .section2 .content-text .text {
        font-size: 10px;
    }

    .section2 {
        height: 700px;
    }

    .section3 .content-text .text {
        font-size: 14px;
        padding: 0px 25px;
    }

    .section3 .content-img-film img {
        max-height: 300px;
    }

    .section3 .content-img-film {
        height: 27%;
    }

    .section3 {
        height: 850px;
    }

    .section3 .content-img-film {
        padding-top: 7vh;
    }

    .section3 .content-text {
        padding-top: 10vh;
    }

    .foot-general a {
        font-size: 15px;
    }
}